*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
nav{
    border: 2px solid black;
    margin: 0 auto ;
    max-width: 600px;
    border-radius: 2rem;
    font-size: 3rem;
    line-height: 7rem;
}
nav h1{
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
    background-color:red;
}

ul li{
    list-style-type: none;
    border-top :1px solid black;
}

li:hover{
    background-color: darkgray;
    cursor: pointer;
}
li:last-child{
    border-radius: 0 0 2rem 2rem;
}